@page
@model ShoppingCartNetCore3.Pages.Productos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ListPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ListPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.PurchasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.MinStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.MinStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.MaxStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.MaxStock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Picture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Mark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Mark.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Supplier.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
