@model IEnumerable<ShoppingCart.Mark>

@{
    ViewBag.Title = "Marcas";
}

<h2>Listado de Marcas</h2>

<p>
    <a href="/Marks/Create">Crear Nueva Marca</a>
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Habilitado
        </th>
        <th>
            Fecha Creacion
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td style="display:none">
            @Html.ActionLink("Modificar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Ver Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
        <td>
            <button class="btn btn-sm">EDITAR</button>
        </td>
    </tr>
}

</table>
